/* COMPONENTS */

/* Nav Bar */
.navbar {
    background-color: var(--main-bg);
    box-shadow: 1px 1px 10px 1px #cccecc;
}

.navbar--nav {
    height: 100px;
}

/* when get the logo image */
.nav--logo {
    width: 120px;
    height: auto;
}


img {
    width: 100%;
    height: auto;
}

.nav--paths {
    list-style: none;
    gap: 15px;
    height: 100%;
}

.nav--paths_path {
    font-size: 1.1rem;
    position: relative;
    height: 100%;
    display: flex;
    align-items:center;
}

.nav--paths_path > *{
    text-decoration: none;
    text-transform: capitalize;
    color: var(--logo-blue);
    transition: .3s ease-in-out;
}

.nav--paths_path > *:hover{
   color: var(--text-header)
}

.nav--paths_path > *:focus{
   outline: none;
}

.nav--paths_path > *::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0; bottom: 0;
    background-color: var(--logo-blue);
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
}

.nav--paths_path > *:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}



/* End  COMPONENTS*/