/* globle */
:root {
    --main-bg: #F5F8FF;
    --text-header: #4C53A4;
    --text: #565EB3;
    --logo-blue:#5371ff

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    font-family: "Roboto", sans-serif;
}

.container {
    padding: 0 180px;
    margin: 0 auto;
}

@media screen and (width < 1200px) {
    .container {
        padding: 0 100px;
    }
    
}
.d-flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    padding: 10px 15px;
    font-size: 1.1rem;
    border: 2px solid var(--logo-blue);
    border-radius: 12px;
    cursor: pointer;
    color: var(--logo-blue);
    transition: .3s ease-in-out;
    background-color: var(--logo-blue);
    color: #F5F8FF
}



