/* globle */
.btn {
    padding: 10px 15px;
    font-size: 1.1rem;
    border: 2px solid var(--logo-blue);
    border-radius: 12px;
    cursor: pointer;
    transition: .3s ;
    background: rgb(63,91,227);
    background: linear-gradient(302deg, rgba(63,91,227,1) 0%, rgba(71,78,148,1) 40%, rgba(83,113,255,1) 100%);
    color: var(--main-bg);
    font-weight: 500;

}
body { 
}
.align-center {
    display: flex;
    align-items: center;
}

img {
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    text-transform: capitalize;
    color: var(--text);
    transition: .3s ease-in-out;
}

a:hover{
    color: var(--text-header)
}

a:focus{
    outline: none;
}

.btn:hover, .btn.active {
    background: var(--main-bg);
    background: linear-gradient(302deg, #fff 100%);
    color: var(--logo-blue)
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: background-color .3s;
}

.circle:hover {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--logo-blue);
    color: #fff
}

.line::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    background-color: var(--logo-blue);
    /*transform-origin: bottom right;
    */transform: scaleX(0);
    transition: transform 0.3s ease-out;
}

.scroll-top {
    position: fixed;
    bottom: 10px;
    right: 9px;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--logo-blue);
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
}
.line:hover::after {
    transform: scaleX(1);
    /* /*transform-origin: bottom left; */

}

.d-flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center
}


.fa-bars {
    color: var(--logo-blue);
    font-size: 1.7rem;
    cursor: pointer
}

.fa-xmark {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.4rem;
    color: var(--logo-blue);
    cursor: pointer
}


.fa-arrow-left,
.fa-arrow-right {
    font-size: 1.3rem;
}

.container {
    padding: 0 180px;
    margin: 0 auto
}

@media screen and (width < 1200px) {
    .container {
        padding: 0 100px
    }
}

@media screen and (width < 600px) {
    .container {
        padding: 0 40px
    }
    textarea {
        max-width: 100%;
    }
}

.section--header {
    font-size: 3rem;
    cursor: pointer;
    position: relative;
    width: fit-content;
    margin: 0 auto 3rem;
    padding: 10px;
    font-weight: 800;
    color: var(--text-header)
}

.section--header a {
    text-decoration: none;
    
}

.title {
    font-size: 4rem;
    color: var(--text-header);
    display: block;
    letter-spacing: -2px;
}

.description {
    line-height: 1.6;
    font-size: 1rem;
    color: var(--text);
}

.overlay {
    width: 100%;
    height:100%;
    position: absolute;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.329);
    top: 0;left: 0;
    z-index: 1000;
}

.wall {
    width: 30%;
    height: 100%;
    position: absolute;
    background: rgb(63,91,227);
    background: linear-gradient(302deg, rgba(63,91,227,1) 0%, rgba(71,78,148,1) 40%, rgba(83,113,255,1) 100%);    
    left: 0;top: 0;
}

.input-togthor {
    display: flex;
    gap: 10px;
}

.input-togthor > * {
    flex: 1
}

.input-togthor label {
    display: block;
}

.input-togthor input, .input-togthor select {
    width: 100%;
}

label {
    font-size: .8rem;
    color: var(--logo-blue);
    font-weight: bold;
    margin: 6px;
}
.required {
    color: red;
    padding-left: 10px;
    font-size: .7rem;
    font-weight: 900;
}
input, select {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #aaa;
    transition: border-color .3s;
}

input:focus, select:focus {
    outline: none;
    border-color: var(--logo-blue);
}

textarea {
    height: 200px;
    max-width: 50%;
    border: 2px solid #ccc;
    border-radius: 7px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    padding: 12px 20px; 
}

textarea:focus-visible {
    outline-color: var(--logo-blue);
}

.form-element {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.confirmpass { 
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100vh;
}

.confirmpass .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmpass--field {
    background-color: #fff;
    padding: 40px 20px 20px ;
    border-radius: 20px;
    position: relative;
    width: 400px;
}

.confirmpass--field .form-element {
    display: flex;
    flex-direction: column;
}

.confirmpass--field label {
    font-size: 1rem !important;

}

.confirmpass--field .btn {
    width: 100%;
    
}

.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: none;
    padding: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.left {
    left: 0
}

.right {
    right: 0
}
.rating {
    position: absolute;
    background: #333;
    width: 51px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    bottom: -8px;
    left: 0px;
}
.green {
    background: #4caf50 ;
    border-color: #4caf50;
}

.yheloo {
    background: #ffeb3b;
    border-color: #ffeb3b;
}

.grey {
    background: #777;
    border: #777;
}
.red {
    background: #e91e63 ;
    border-color: #e91e63;
}

.green:hover {
    color: #4caf50;
}

.red:hover {
    color: #e91e63;
} 
.grey:hover {
    color: #fff;
}
.circle-red {
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    top: 34px;
    right: 5px;
}

.overlay--image {
    width: 40%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 14px;
    overflow: hidden; /* Ensures the image does not overflow the container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow for visual effect */
}

.overlay--image img {
    border-radius: 14px;
    object-fit: cover;
    width: 100%;
    max-height: 90vh;
}

@media screen and (width < 600px) {
    .container {
        padding: 0 40px
    }
    textarea {
        max-width: 100%;
    }
}
