/* globle */
:root {
    --main-bg: #F5F8FF;
    --text-header: #3f5be3;
    --text: #474e94;
    --logo-blue:#5371ff;
    

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    font-family: "Roboto", sans-serif;
}





