

/* .explore {
    margin-top: 100px;
} */
.explore--header {
    width: 100%;
    height: 66vh;
    background: rgb(123,71,148);
    background: linear-gradient(73deg, rgba(123,71,148,1) 0%, rgba(88,117,255,1) 100%);
}
.explore--header p {
    position: absolute;
    top: 20%;
    background-color: rgb(88 117 255 / 56%);
    font-size: 1.2rem;
    padding: 10px;
    font-weight: 700;
    color: white;
    width: 30%;
    line-height: 1.6;
}

.explore--header img {
    height: 100vh;
    object-fit: cover;
}
/* .explore--header-overlay {
    width: 100%;
    height: 100vh;
    background-color: #0000004a;
    position: absolute;
} */

.explore--content {
    display: grid;
    grid-template-columns: 27% 70%;
    /* gap: 3%; */
    height: 100vh;  
    padding: 50px 0
}

.content-items {
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    gap: 67px 80px ;
}

.content-items .serivce--info--price {
    bottom: -46px;
}
.content-items .service-card {
    width: calc((100% / 3) - 60px) !important;
}


@media  screen and (width <= 1345px) {
    .content-items .service-card {
        width: calc((100% / 2) - 60px) !important;

    }
}

@media  screen and (width <= 1000px) {
    .explore--content {
        grid-template-columns: 100%;
        gap: 20px;
    }
    .content-filter {
        flex-direction: row;
    }
    .content-items {
        justify-content: center;
    }
    .content-items .service-card {
        width: calc((100% / 1) - 60px) !important;

    }
}