.content-filter {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.filter-categories.active {
    height: 220px;
}

.filter-rating.active {
    height: 193px;
}

.filter-categories, .filter-rating {
    background-color: #222;
    display: flex;
    flex-direction: column;
    color: #eee ;
    padding: 10px 20px 0;
    min-width: 200px;
    border-radius: 12px;
    height: 50px;
    overflow: hidden;
    transition: .3s;
}
.filter-categories:last-child,
.filter-rating:last-child  {
    margin-bottom: 5px
}
.filter-header {
    display: flex;
    justify-content: space-between;
    /* font-size: 2rem; */
    align-items: center;
    margin-bottom: 10px;

}

.filter-header span {
    cursor: pointer;
}
.filter-categories h3, .filter-rating h3{
    font-size: 1.5rem;
}

.filter-categories label {
    color: #eee;
}

.search-bar {
    width: 90%;
    position: relative;;
}

.search-bar input {
    width: 100%;
    font-size: 1.1rem;
}

.search-bar i {
    position: absolute;
    right: 10px;
    top: 28%;}
@media  screen and (width <= 1000px) {
    .content-filter {
        flex-direction: row;
        margin-bottom: 40px;
        flex-wrap: wrap;
    }
}