.card--category {
    height: 100%;
    max-width: 500px ;
    /* width: calc(100% / 3); */
    border-radius: 13px;
    position: relative;
    flex: 1 1 auto
}

.card--category .image {
    overflow: hidden;
    height: 100%;
    cursor: pointer;
    border-radius: 18px;
    width: 100%;
}

.card--category img {
    transition: .6s;
    height: 100%;
    object-fit: cover;
    width: 370px ;

}

.card--category .image:hover img {
    transform: scale(1.4);
}


.text--title {
    font-size: 1.4rem;
    position: absolute;
    top: 12px;
    left: 10px;
    color: #fff;
}

