/* Nav Bar */
.navbar {
    background-color: var(--main-bg);
    box-shadow: 1px 1px 10px 1px #cccecc;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    margin-top: 0;
}



.navbar--nav {
    height: 100px;
}

/* when get the logo image */
.nav--logo {
    width: 120px;
    height: auto;
}

.nav--paths {
    gap: 15px;
    height: 100%;
}

.nav--paths li {
    font-size: 1.1rem;
    position: relative;
    height: 100%;
    display: flex;
    align-items:center;
}

.nav--paths_link {
    flex: 1;
}

/* phone view nav bar */

.nav--paths.active {
    flex-direction: column;
    background-color: #fff;
    position: fixed;
    justify-content: start !important;
    align-items: start !important;
    top: 0;
    padding: 50px 100px 50px 30px;
    box-shadow: 1px 1px 10px 1px #cccecc;
    transition: .6s ease-in-out;
}

.active .line:after {
    height: 0;
}

.nav--paths.active li {
    height: 30px ;
}

.active .nav-btn {
    width: 100%;
    margin-top: 20px ; 
}

.active .nav-btn .btn {
    width: 100%;
}

.navbar.explore {
    box-shadow: none;
    background-color: transparent;
}

.navbar.explore.stopTrans {
    background-color: var(--main-bg);
    box-shadow: 1px 1px 10px 1px #cccecc;
}

.navbar.explore.stopTrans a {
    color:var(--text)
}

.navbar.explore a {
    color: #fff 
}

.navbar.explore a:hover {
    color: black
}