.user-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 20px 0;
        width: 100%;
}

.user--image {
    width: 150px;
    height: 150px;
    transition: .2s;
    position: relative;
    margin-bottom: 10px;
}

.user--image img {
    border-radius: 50%;
    border: 1px solid #222;
    width: 100%;
    height: 150px;
}

.user--name {
    text-transform: capitalize;
    font-size: 1.2rem;
    color: var(--text);
    font-weight: 400;
    text-align: center;
}

