.myprofile {
    display: flex;
    background-color: #f1f5f9;
    min-height: 100vh;
}

.myprofile--pages {
    flex: 1;
}

.myprofile-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 80px;
    padding: 20px 60px;
}
.myprofile-card {
    width: 450px; 
    height: 300px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;    
    display: flex;
    flex-direction: column;
    position: relative;
}

.pages--nav .section--header {
    margin: 0;
    cursor: auto;
    font-size: 2rem;
    text-transform: capitalize;
}

.pages--nav {
    background-color: #fff;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
} 

.nav--bell {
    font-size: 1.4rem;
    color: var(--logo-blue);
    cursor: pointer;
}

.pages--content {
    padding: 30px;
}

.informations {
    background-color: #fff;
    border-radius: 15px;
    padding: 4px ;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    color: #585858;
    display: flex;
    position: relative;
}

.informations--avatar {
    border-right: 3px solid #f1f5f9;
    position: relative;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.informations--sections .info-box {
    display: flex;
    flex-wrap: wrap;
    row-gap:10px ; column-gap: 40px;
    padding: 20px ;
}

.informations--sections .info-box:not(:last-of-type) {
    border-bottom: 3px solid #f1f5f9;;
}

.info-box--header {
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.info-box--contant {
    position: relative;
}

.info-box--contant label{
    color: inherit;
    margin-right: 5px;
}
.info-box--contant label .required {
    position: absolute;
    top: -17px;
    right: 7px;
}
.info-box--contant input {
    padding: 5px
}

@media screen and (width <= 1172px) {
    .informations {
        flex-direction: column;
    }
    .informations--avatar {
        border: none;
    }
}

@media screen and (width <= 720px) {
    .myprofile-cards {
        padding: 0;
    }
    .myprofile-cards a {
        width: 100%;
        text-align: center;
    }
    .myprofile-card {
        width: 100%;
    }
}


