
.sidebar {
    background-color: #fff;
    width: 177px;
    box-shadow: 0 0 10px #d8d8d8;
    position: relative;
}

.sidebar--logo {
    position: relative;
    text-align: center;
}

.sidebar--logo::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 17px;left: 0;
    background-color: #f6f6f6;
}
.sidebar--page {
    display: block;
    border-radius: 7px;
    padding: 10px 20px;
}

.sidebar--page:hover {
    background-color: #f6f6f6 !important;
}

.sidebar--page i {
    margin-right: 10px;
}

@media screen and (width <= 808px) {
    .sidebar {
        width: 80px;
    }
    .sidebar--page span {
        display: none;
    }
}