.categories{
    position: relative;
    overflow: hidden;
}

.categories--cards {
    display: flex;
    /* flex-wrap: wrap; */
    height: 400px;
    gap: 20px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

.categories--cards::-webkit-scrollbar {
    display: none; 
}

.categories--cards .scroll-button {
    top: 60% !important;
}